<h1><%= @mechanic.name %></h1>
<p><%= @mechanic.years_of_experience %> years of experience</p>

<section class="mechanic_rides">
  <h3>Mechanics Current Rides:</h3>
  <ul>
    <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
    <% end %>
  </ul>
</section>

<section class="add_ride_form">
  <h3>Add Ride</h3>
  <%= form_tag "/mechanic_rides?mechanic_id=#{@mechanic.id}" do %>
    <%= label_tag :ride_id %>
    <%= number_field_tag :ride_id %><br>
    <%= submit_tag "Submit" %>
  <% end %>
</section>
